!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    -#%link{:href => "assets/img/favicon.ico", :rel => "icon", :type => "image/png"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Panel Administratora
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "//fonts.googleapis.com/css?family=Roboto:400,700,300", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag 'admin'
    = javascript_include_tag 'admin'
    = javascript_pack_tag 'application'

  %body{class: 'animsition'}
    .uk-grid.uk-grid-collapse
      .uk-width-1-1.top
        = link_to 'Wyloguj się', destroy_user_session_path, method: :delete, style: 'display:block; padding: 10px'
      .uk-width-1-6.sidebar{style: 'min-height: 95vh'}
        %ul.sidebar
          %li
            = link_to 'Wpisy', admin_posts_path
          %li
            = link_to 'Partnerzy', admin_sponsors_path
          %li
            = link_to 'Mecze', admin_matches_path
          %li
            = link_to 'Zawodnicy', admin_players_path
          %li
            = link_to 'Produkty', admin_products_path
      .uk-width-5-6
        .main
          = yield