<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>Kasztelan Rozprza</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <!-- Following will make the react components availabe to our layout -->
    <%= javascript_pack_tag 'front/index' %>
    <%= stylesheet_pack_tag 'front/assets/stylesheets/app' %>
    <link rel="manifest" href="<%= asset_path 'favicon/manifest.json'%>>">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="<%= asset_path 'favicon/ms-icon-144x144.png'%>">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% content_for :default_head do %>
      <%= render 'shared/default_head' %>
    <% end %>
    <%= content_for?(:head) ? content_for(:head) : content_for(:default_head)  %>
    <%= render 'shared/favicon' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
